.navbar {
    background-color: #c87c7c;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color: #fbfbfb;
}

.toggle-button-row {
    margin-top: 7px;
    position: fixed;
    top: 10px;
    left: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 40px;
    background: #875d09;
    border-radius: 79px;
    cursor: pointer;
    z-index: 1009;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.2);
    padding: 3px;
}

.toggle-button-row mat-icon {
    font-size: 20px;
    color: rgb(0, 0, 0);
}

.slide-out-planner {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(45, 169, 188);
    transition: transform 0.3s ease-out;
    z-index: 1000;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 0 10px rgba(78, 88, 203, 0.3);
}

.slide-out-planner.slide-out {
    transform: translateX(-100%);
}

.slide-out-content {
    margin-top: 80px;
    padding: 20px;
}

.edit-col {
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.edit-col:hover {
    color: #c87c7c;
}
