<div class="navbar">
  <h1>Budget Planner</h1>
</div>

<div class="button">
  <button (click)="onNavigateLogin()">Login</button>
  <button (click)="onNavigateRegister()">Register</button>
</div>

<div class="login-container">
  <!-- Login-->
  <form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
    <label>Email</label>
    <input type="email" name="email" placeholder="Email" formControlName="email" />
    <label>Password</label>
    <input type="password" name="password" id="password" placeholder="Password" formControlName="password" />
    <button type="submit">Login</button>
    <p (click)="onNavigateRegister()">Don't Have an account? Please Register your Account..</p>
  </form>
</div>
