<app-side-nav></app-side-nav>
<div class="container">
  <div class="card-container">
    <!-- Income card -->
    <div class="card">
      <div class="card-header">
        <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
        <h2>Income</h2>
      </div>
      <hr />
      <div class="income-details">
        <div class="month">
          <h3>Last few months</h3>
          <ul>
            <li *ngFor="let monthIncome of lastMonthsIncome">
              {{ monthIncome }}
            </li>
          </ul>
        </div>
        <div class="month">
          <h3>Current month</h3>
          <p>{{ currentMonthIncome }}</p>
        </div>
        <button class="button" (click)="onIncome()">View</button>
      </div>
    </div>
    <!-- Expense card -->
    <div class="card">
      <div class="card-header">
        <span class="icon expense-icon"><mat-icon>money_off</mat-icon></span>
        <h2>Expense</h2>
      </div>
      <hr />
      <div class="income-details">
        <div class="month">
          <h3>Last few months</h3>
          <ul>
            <li *ngFor="let monthExpense of lastMonthsExpenses">
              {{ monthExpense }}
            </li>
          </ul>
        </div>
        <div class="month">
          <h3>Current month</h3>
          <p>{{ currentMonthExpense }}</p>
        </div>
        <button class="button" (click)="onExpense()">View</button>
      </div>
    </div>
    <!-- To do transaction -->
    <div class="card">
      <div class="card-header">
        <span class="icon todo-icon"><mat-icon>assignment</mat-icon></span>
        <h2>To do transaction</h2>
      </div>
      <hr />
      <div>
        <ul>
          <li *ngFor="let item of todoTransactions">
            <span class="transaction-status"> </span>
            <span class="transaction-details">{{ item.description }}</span>
          </li>
        </ul>
      </div>
      <button class="button" (click)="onTodo()">View</button>
    </div>
  </div>

  <!-- Total Income -->
  <div class="card">
    <div class="card-header">
      <span class="icon income-icon"><mat-icon>attach_money</mat-icon></span>
      <h2>Total Income</h2>
    </div>
    <hr />
    <div class="income-details">
      <div class="month">
        <h3>Last few months</h3>
        <ul>
          <li *ngFor="let monthIncome of lastMonthsIncome">
            {{ monthIncome }}
          </li>
        </ul>
      </div>
      <div class="month">
        <h3>Current month</h3>
        <p>{{ currentMonthIncome }}</p>
      </div>
    </div>
  </div>
</div>
