body {
  font-family: Arial, sans-serif;
  background: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.navbar {
  background: #3f51b5;
  color: white;
  padding: 15px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  transform: translateZ(0);
  transition: all 0.3s ease;
}

.navbar:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-5px);
}

.button {
  margin: 20px 0;
  text-align: center;
}

.button button {
  background: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 16px;
}

.button button:hover {
  background: #45a049;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.register-container {
  background: white;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 320px;
  margin-left: 582px;
  text-align: center;
  transform: translateZ(0);
  transition: all 0.3s ease;
}

.register-container:hover {
  box-shadow: 0 8px 16px rgb(182 19 7);
    transform: translateY(-5px);
}

.register-container label {
  display: block;
  margin: 10px 0 5px;
}

.register-container input {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.register-container button {
  background: #3f51b5;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.register-container button:hover {
  background: #303f9f;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);
}

.register-container p {
  color: #3f51b5;
  cursor: pointer;
  margin-top: 10px;
}

.register-container p:hover {
  text-decoration: underline;
}

.highlighted {
  font-weight: bold;
  color: #303f9f;
}
