<div class="main-container">
  <div class="container">
    <h2>Transactions History</h2>
    <form
      [formGroup]="todoform"
      (ngSubmit)="onSubmitExpense()"
      class="input-form"
    >
      <div class="form-group">
        <select
          formControlName="month"
          id="month"
          class="formControl"
          (change)="onChangeExpense($event)"
        >
          <option value="" disabled>select Month</option>
          <option value="January">January</option>
          <option value="February">February</option>
          <option value="March">March</option>
        </select>
      </div>
      <div class="form-group"></div>
      <div class="total-Trans">
        Transactions for {{ selectedMonth }}: ${{
          calculateTotalExpense(selectedMonth)
        }}
      </div>
    </form>
    <hr />
    <h3>Transactions History list - {{ selectedMonth }}</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Transactions type</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let todoTrans of getFilteredExpense()">
          <td>{{ todoTrans.expenseType }}</td>
          <td>{{ todoTrans.expenseAmount }}</td>
        </tr>
      </tbody>
    </table>
    <div class="input-form">
      <button class="btn btn-primary" (click)="onBack()">Back</button>
    </div>
  </div>
</div>
